@page
@{
    ViewData["title"] = "Пользовательское соглашение";
}

<div id="main" class="z-index--1">
    <div class="super-container p-2 mb-4">
        <div class="mt-3 w-50">
            <h3 class="text-center">Условия использования сайта</h3>
        </div>

        <div class="py-3 px-5" id="terms">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu accumsan ligula. Integer ac luctus dolor. Nam rutrum dictum metus. Etiam finibus, lorem auctor sollicitudin pretium, erat neque scelerisque est, placerat pulvinar ligula eros at justo. Donec ut risus tristique purus pharetra volutpat et sit amet dolor. Praesent ac nunc massa. Praesent porttitor, eros ac malesuada pretium, ipsum erat scelerisque ipsum, vitae hendrerit nulla velit nec ante. Suspendisse potenti.
            </p>
            <p>
                Morbi felis eros, sollicitudin vitae nibh vitae, semper pretium mi. Integer orci velit, pretium at orci at, congue convallis urna. Sed tincidunt tortor ut massa elementum faucibus. In risus arcu, mattis ac purus sed, efficitur molestie massa. Donec eget nulla eu dolor finibus tristique. Duis laoreet elit at magna porttitor, ut accumsan nunc finibus. Etiam in auctor arcu. Maecenas sit amet elit ut nisl finibus dignissim. In rhoncus maximus elit, ut pretium lacus consectetur in. Ut in dui finibus, commodo ex at, accumsan mi. Ut rutrum mi nec tortor tincidunt hendrerit. Etiam varius, elit et consectetur posuere, lorem tellus eleifend turpis, in ornare leo mi eu ante.
            </p>
            <p>
                Duis ac leo vestibulum, convallis dui at, luctus nisi. Quisque sit amet elit vestibulum, elementum odio ac, hendrerit mauris. Aenean quis erat imperdiet, laoreet eros sed, semper felis. Sed nulla metus, convallis vitae nibh quis, elementum sollicitudin risus. Nam commodo feugiat ultricies. Donec ornare bibendum vehicula. Nulla in euismod erat, convallis faucibus dui. In posuere nibh ac lorem convallis ullamcorper. Aenean non purus pharetra lacus pellentesque efficitur. Nullam et interdum risus, eget lobortis dui. Nulla eu facilisis mauris. Proin luctus nec metus pellentesque commodo. Nam efficitur orci quis nisi scelerisque, id luctus diam feugiat. Vivamus molestie sapien nec risus ultricies, quis imperdiet eros feugiat.
            </p>
            <p>
                Pellentesque eget purus eros. Cras vel risus quis magna feugiat pretium in ut orci. Nam facilisis mauris ut tincidunt consequat. Mauris posuere fringilla libero, sed vulputate orci dignissim ac. Morbi ligula lacus, viverra eget malesuada nec, lacinia nec quam. Mauris maximus nulla ac nulla maximus consequat. Mauris eget dignissim diam. Nulla sit amet commodo mi, consequat porttitor leo. Etiam consectetur tortor et elit aliquet, id blandit lacus rhoncus. Mauris nibh orci, fringilla at tincidunt et, condimentum at orci. Integer volutpat in dui sed semper. Nunc ac eros vehicula, elementum nisi nec, cursus orci. Sed at ipsum quis metus dictum dapibus sed quis quam. Sed tincidunt elit in commodo mollis. Curabitur iaculis non nisl eget dignissim. Nulla tempus fermentum arcu, et dictum ipsum tempus a.
            </p>
            <p>
                Duis tempor lectus lacus, et bibendum libero pretium eget. Mauris at cursus dolor. Aliquam fermentum nibh sit amet magna semper convallis. Fusce sit amet sem sit amet enim varius convallis ac non enim. Etiam condimentum nulla vel purus rutrum malesuada. Fusce justo ipsum, malesuada et elementum tempus, euismod in elit. Praesent sodales ultricies neque, a lobortis dolor convallis eu.
            </p>
            <p>
                Etiam vitae blandit magna. Proin in nunc blandit, finibus libero ut, hendrerit eros. Nunc lacinia, nisi vitae gravida scelerisque, ipsum nisl porta elit, at dapibus erat urna vel neque. Aenean tellus augue, imperdiet sed vulputate in, eleifend tincidunt arcu. Ut velit sem, ullamcorper ac dictum quis, vulputate ut sem. Aenean venenatis enim sed augue eleifend mattis. Sed eleifend erat nec est dapibus volutpat.
            </p>
            <p>
                Proin non diam nec turpis tincidunt fringilla a in orci. Donec eleifend pulvinar eros ac aliquet. Nullam rhoncus rutrum tortor, sed aliquet nibh viverra in. Nulla nunc felis, auctor sit amet condimentum et, convallis quis nulla. In vitae suscipit urna. Nunc sed eros eu velit egestas vulputate. Donec venenatis euismod porta. Vestibulum rutrum massa ac rhoncus accumsan. Nullam sollicitudin ipsum in orci pulvinar, et aliquet enim placerat. Donec vestibulum tempor elit a euismod. Morbi eu facilisis lacus. Donec iaculis justo non est vulputate luctus.
            </p>
            <p>
                Suspendisse eleifend massa non efficitur tristique. Sed quis mollis nibh. Nulla facilisi. Morbi molestie purus molestie, accumsan quam nec, consequat metus. Vestibulum semper, ipsum eget fermentum sagittis, magna felis mollis mi, et malesuada justo sem quis ipsum. Curabitur scelerisque mollis turpis vel auctor. Aliquam velit eros, dignissim ut velit eu, tincidunt commodo diam. Phasellus vel consectetur purus, ac cursus libero. Phasellus quam nulla, ullamcorper sit amet risus sed, bibendum facilisis tellus. Aenean eu dui consequat, cursus mi vitae, elementum metus.
            </p>
            <p>
                Donec et fringilla lectus. Cras vitae ornare ipsum. Nullam suscipit nunc a vehicula rhoncus. Nunc nec nisl posuere, rhoncus augue ac, eleifend libero. Nulla elementum sodales elementum. Maecenas vel justo faucibus, aliquam erat ut, laoreet massa. Integer at odio mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam ut lacus ac ex blandit consectetur nec vel ex. Sed dui dui, blandit ac viverra quis, sagittis ut lorem. Donec euismod ut sem eu facilisis. Morbi lacinia tincidunt felis, id sagittis tellus tincidunt in.
            </p>
            <p>
                Ut ac felis enim. Etiam consequat nisl vel arcu ultricies, sed fermentum dui lobortis. Ut vestibulum dolor quis iaculis venenatis. Duis tempor lectus at consequat auctor. Nunc enim felis, elementum non sollicitudin ut, bibendum lacinia leo. Fusce pharetra orci ac odio placerat, at faucibus purus dignissim. Quisque lacus nulla, finibus vitae dolor vitae, posuere sagittis diam. Phasellus dapibus sem sapien, eu malesuada turpis aliquam nec. Vestibulum cursus, velit eget tempus viverra, nibh dui vulputate justo, nec iaculis nisi purus quis nulla.
            </p>
            <p>
                Etiam dui nulla, rhoncus vitae viverra in, sagittis tristique elit. Sed vulputate nisl ac mattis semper. Fusce eget mi vitae ipsum posuere semper ac at quam. Etiam ultrices, tellus vel interdum lobortis, libero nulla convallis diam, eget sodales dui turpis non arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam commodo lectus sed porttitor tempus. Pellentesque consectetur nibh sit amet facilisis pellentesque. Maecenas laoreet posuere dui, id sodales justo viverra eu. Donec pellentesque, felis a porttitor faucibus, eros ex finibus nisi, in faucibus nisi lectus non diam. Suspendisse potenti. Pellentesque ipsum erat, viverra eu scelerisque vitae, posuere ac libero. Cras sodales enim at ipsum fringilla, ac condimentum sem dictum. Aenean sed purus magna. Vestibulum vitae nibh tellus. Nulla sollicitudin diam at finibus laoreet. Duis nisi lectus, elementum vulputate tempor vulputate, condimentum at felis.
            </p>
            <p>
                Morbi mattis viverra orci, quis dapibus leo sodales quis. Sed elementum nibh nec est aliquam mollis. Donec pretium tortor non massa auctor, quis tincidunt augue pharetra. Aenean non pretium purus, et dapibus nunc. Sed arcu massa, pretium eget aliquam eu, porta at enim. Suspendisse condimentum eros et turpis viverra molestie. Praesent ut neque eu est tempor accumsan non at eros. Duis non sagittis diam, et tincidunt leo. Duis laoreet at ante eu tempus. Pellentesque fermentum venenatis sem, eu convallis lacus tempus in. Praesent eu vehicula nisl. Pellentesque accumsan metus non elit ullamcorper, in tempus enim viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec tempus lacus odio, eu semper nisi gravida non.
            </p>
            <p>
                Suspendisse molestie volutpat neque ac lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ut mauris sed ex pretium faucibus. Sed eu ornare arcu. Vivamus egestas lacus id lacus varius auctor. Duis consequat posuere risus, id dignissim nulla pellentesque at. Nulla pulvinar in orci vel facilisis. Praesent sed gravida enim. Pellentesque eros dolor, lacinia condimentum justo id, dapibus dictum nibh. Ut facilisis quam ut tortor cursus, ut viverra mauris feugiat. Vestibulum et euismod velit.
            </p>
            <p>
                Vestibulum at mi facilisis, tempor lacus vel, fermentum sem. Etiam porta et ipsum eget euismod. Curabitur ac convallis ipsum. Etiam vehicula elementum mi, a volutpat ex accumsan ut. In mattis pellentesque tortor a venenatis. Sed vitae posuere dolor, non ultrices ante. Suspendisse nec velit neque. Cras metus nisi, molestie id urna quis, interdum volutpat eros. Pellentesque sed lobortis sapien. Praesent pellentesque rhoncus tortor nec maximus.
            </p>
            <p>
                Nulla venenatis sit amet est id aliquam. Etiam efficitur eu turpis at pulvinar. In gravida non dolor eget viverra. Sed accumsan, odio eget condimentum rutrum, ante velit ultricies orci, et consectetur tellus leo non ante. Proin egestas nec quam vitae dictum. Ut vel nulla et dolor iaculis hendrerit et sit amet tellus. Sed sollicitudin dolor sed erat convallis, ut pulvinar lectus feugiat. Fusce luctus, elit ac convallis tempus, mauris velit mattis dolor, in eleifend augue odio id eros. Nullam finibus erat arcu, ac aliquam nibh volutpat non.
            </p>
            <p>
                Morbi quis venenatis neque. Aliquam finibus sagittis urna a laoreet. Fusce volutpat ligula ut nunc dapibus, eget sollicitudin augue pellentesque. Sed efficitur, eros vel finibus pulvinar, enim tellus ultricies magna, quis convallis nibh diam et sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi at quam leo. Nam condimentum ornare mi, et dapibus felis tincidunt ac. Maecenas auctor lacus quis nisl ultrices lacinia id sit amet odio. Aenean justo magna, pharetra ac nunc vitae, volutpat vulputate enim. Sed vel faucibus mauris, porttitor mattis lorem. Nulla consectetur porttitor eros ac condimentum. Suspendisse maximus, justo finibus dapibus hendrerit, metus felis interdum felis, eu dictum lacus dolor eget ante. Morbi a ipsum quis dui euismod euismod ornare id velit.
            </p>
            <p>
                Sed aliquam venenatis mollis. Maecenas vestibulum faucibus justo id molestie. Proin facilisis, mi ut auctor suscipit, lectus dolor iaculis quam, eget convallis purus tortor eget urna. Sed efficitur dictum metus sed dictum. Vivamus malesuada tempor magna, eget tempor nisl dignissim quis. Phasellus commodo egestas porttitor. In venenatis vel elit non dictum.
            </p>
            <p>
                Etiam enim nulla, laoreet suscipit libero nec, accumsan fermentum nibh. Nunc rutrum porttitor lacinia. Nullam at tellus ligula. Etiam viverra feugiat felis nec suscipit. Fusce bibendum nunc scelerisque quam dapibus, eu semper lectus rhoncus. Duis vulputate egestas ligula, a vulputate ligula posuere nec. Integer lobortis quis est ac hendrerit. Phasellus sed metus feugiat, molestie sapien eu, maximus urna. Aenean ultricies velit eu nulla venenatis hendrerit quis ac ipsum. Aliquam sed aliquam neque, ut fringilla mi. In hac habitasse platea dictumst. Sed dui ligula, porttitor id sodales et, pellentesque sit amet turpis. Nullam volutpat consectetur dui at lobortis. Etiam ut lectus a justo finibus suscipit fringilla id lacus. Duis quis sollicitudin tellus. Ut fringilla hendrerit lectus quis aliquet.
            </p>
            <p>
                Sed vestibulum rhoncus ante vitae ullamcorper. Pellentesque non neque at nibh dictum lobortis. Aenean ut tincidunt risus, vitae tincidunt magna. Sed a nisi tincidunt, dapibus mi eget, pharetra risus. In accumsan ut turpis id mattis. Quisque non bibendum dui. Suspendisse turpis massa, lacinia sit amet auctor at, faucibus id sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis dignissim augue a ipsum pellentesque maximus.
            </p>
            <p>
                Curabitur eleifend dolor vel metus tristique maximus. Maecenas vel bibendum velit. Proin tincidunt rutrum aliquam. Praesent imperdiet condimentum lacus at laoreet. Duis facilisis velit turpis, ac vulputate erat dapibus ac. Mauris fermentum lobortis auctor. Nulla posuere pellentesque nibh ut auctor. Proin lorem odio, blandit et nulla a, malesuada tincidunt risus. In vel condimentum nisl. Sed a euismod arcu, vitae commodo felis. Phasellus ullamcorper vel quam nec pulvinar. Nam eget ornare massa, ut feugiat libero. Vivamus ornare elit vel nunc malesuada semper. Etiam vitae eros sed massa fermentum tempus at ac ante. Aliquam sed erat vel justo consectetur malesuada. Sed congue feugiat urna eget sodales.
            </p>
            <p>
                Vivamus eget mi eu sapien facilisis porta. Mauris eros dolor, venenatis at nibh eu, mollis ornare diam. In ante nunc, molestie eu eleifend vel, hendrerit at magna. Aliquam erat volutpat. In molestie a nisl vel bibendum. Sed at risus eleifend, tincidunt ipsum quis, fermentum sapien. In pretium erat neque, sit amet lobortis ligula maximus eu. Nunc maximus quam odio, aliquam pharetra tortor dictum sed. Morbi sollicitudin risus ut convallis condimentum.
            </p>
            <p>
                Nullam ut fermentum enim. Nulla non ligula faucibus, aliquam ex ut, auctor arcu. Aenean a odio sed elit tincidunt eleifend sed non ex. Aliquam vulputate libero tempus odio laoreet sodales. Nulla eget feugiat tortor. In ultricies, risus at elementum varius, lectus erat ultricies mi, ut venenatis lectus magna in justo. Sed imperdiet pellentesque metus eu interdum. Praesent ac nulla in nisi placerat aliquam. Sed faucibus mollis massa sed interdum. Aenean mattis iaculis ornare. In semper feugiat risus. Sed enim ligula, pharetra vitae ornare sed, faucibus id odio. Sed nec lectus nec nibh feugiat luctus. Vestibulum porta, sem sit amet fringilla pretium, neque turpis sagittis erat, sit amet sagittis purus nulla et nisl. Vivamus eget scelerisque ipsum.
            </p>
            <p>
                Sed euismod faucibus enim ac tempor. Suspendisse potenti. Maecenas maximus imperdiet suscipit. Praesent dapibus est et sollicitudin ullamcorper. Praesent malesuada aliquet ligula, ut vehicula nunc condimentum at. Duis faucibus vulputate lacinia. Donec nec euismod velit, feugiat accumsan elit. Duis ultricies tellus ac turpis tincidunt varius. Quisque ac malesuada sapien. Nulla facilisi. Cras commodo tincidunt dapibus. Ut volutpat lectus lacus, a tristique neque rhoncus eget. Suspendisse potenti. In bibendum sapien a ullamcorper posuere.
            </p>
            <p>
                Vivamus molestie urna quis ullamcorper luctus. Integer facilisis diam ac malesuada commodo. Sed quis rhoncus ipsum, quis finibus lorem. Aenean sit amet viverra massa. Sed pellentesque maximus molestie. Phasellus auctor non libero dapibus sodales. Vestibulum ac elit eget nibh aliquam rutrum. Curabitur ac blandit lorem, nec viverra lectus.
            </p>
            <p>
                Nullam id efficitur sapien, eget cursus magna. Nunc iaculis sed est eu lobortis. In sit amet efficitur est. Morbi eget posuere nibh. Sed auctor, tortor vel faucibus porttitor, erat felis pretium risus, ac vehicula urna magna nec velit. Cras sit amet rutrum libero. Phasellus metus leo, egestas id turpis vitae, aliquam rutrum elit. Fusce maximus elit et metus tempor vehicula. Aliquam in diam eros. Vivamus at aliquam urna, id convallis dui. Vivamus sed mattis nisi. Aenean at lacus at sem fermentum malesuada vitae in dui. Donec scelerisque facilisis scelerisque. Aliquam vitae condimentum purus, at auctor urna. Vivamus convallis mi metus, at gravida mi elementum sit amet. Aliquam id metus a lectus posuere ultrices.
            </p>
            <p>
                Ut justo sem, rhoncus at malesuada a, hendrerit eget magna. Nullam accumsan eleifend turpis, id pellentesque enim maximus eget. Etiam semper nunc a mi convallis semper. Nulla sed orci erat. Nunc vitae sem eu leo laoreet suscipit ac eu eros. Ut sit amet volutpat eros, nec rhoncus velit. Maecenas molestie lacus justo, at finibus eros mattis et. Aliquam erat volutpat.
            </p>
            <p>
                Nullam hendrerit arcu nec nisl lacinia, id feugiat eros molestie. Donec aliquet varius metus sed finibus. Pellentesque nisl dolor, venenatis in tristique at, scelerisque quis leo. Sed at eleifend velit, vel consectetur augue. Pellentesque tincidunt sodales justo, id egestas enim. Morbi consectetur ut mauris vulputate dapibus. Pellentesque imperdiet eros quis urna consequat vehicula. Cras efficitur dolor at congue pretium. Morbi egestas libero non dolor porttitor, nec rhoncus tellus tristique. In suscipit mauris nulla, eget placerat velit sodales nec.
            </p>
            <p>
                Donec a fringilla ex. Suspendisse id nunc luctus lectus malesuada sagittis. Integer vel mi orci. Aenean a tortor rhoncus, pulvinar lorem ac, tempor tortor. Phasellus euismod sapien nec odio mattis tempor non ut sem. In interdum pulvinar odio, et porttitor ex maximus venenatis. Etiam pellentesque maximus leo, fringilla eleifend lacus auctor eget. Integer venenatis dictum odio eu mollis. Vivamus venenatis mattis dolor. Integer ullamcorper maximus massa, vel ullamcorper arcu viverra in. Aenean non sapien nulla. Integer suscipit ex mauris, vel sagittis ante placerat ac. Morbi ullamcorper, dui ac pellentesque pretium, urna diam tincidunt risus, quis ultricies urna justo et nisi. Vivamus vestibulum ipsum quam, sit amet dapibus orci tristique quis. Aenean odio augue, iaculis vitae neque et, vulputate posuere nisl.
            </p>
            <p>
                Vestibulum at sodales nunc, sed convallis ipsum. Phasellus nec dolor nisi. Curabitur rhoncus mi ullamcorper diam lacinia sodales. Suspendisse non eros ultrices, bibendum orci nec, gravida elit. Nunc suscipit hendrerit cursus. Vivamus eget gravida neque, vitae ullamcorper purus. Vestibulum et nibh sollicitudin, blandit urna eu, fringilla velit. Etiam a elit nisi.
            </p>
            <p>
                Donec volutpat dolor vitae nunc hendrerit semper. Aenean tristique elit et neque lobortis, ut consectetur orci blandit. Nulla bibendum felis ac urna mattis mollis. Mauris sodales pretium lorem. In non metus ac lorem consectetur sagittis. Suspendisse blandit, dui eleifend dignissim molestie, nulla lacus rhoncus diam, volutpat aliquet dui sapien eu nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin dui justo, feugiat.
            </p>
        </div>
    </div>
</div>

