@page "/terms"
@{
    ViewData["title"] = "Пользовательское соглашение";
}

<div id="main" class="z-index--1">
    <div class="super-container p-2 mb-4">
        <div class="mt-3 w-50">
            <h3 class="text-center">Условия использования сайта</h3>
        </div>

        <div class="py-3 px-5" id="terms">
            <p>
                <h3>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h3>
                1.ОБЩИЕ ПОЛОЖЕНИЯ<br />
                1.1 Настоящая Политика конфиденциальности (далее – Политика) разработана в соответствии
                с требованиями Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных» и действует в
                отношении всей информации, которую ООО «Синемабокс» может получить о Пользователе во время
                использования им сайта любого из сервисов или услуг (продуктов)
                Компании (далее – Сервисы) и в ходе исполнения любых договоров (соглашений), заключенных с
                Пользователем.<br />
                1.2 Использование Сайта означает безоговорочное согласие Пользователя с настоящей
                Политикой и указанными в ней условиями обработки его персональной информации, в случае
                несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.<br />
                2.ОБЛАСТЬ ПРИМЕНЕНИЯ<br />
                2.1 Настоящая Политика распространяется на Данные, полученные как до, так и после ввода
                в действие настоящей Политики.<br />
                2.2 Компания, понимая важность и ценность Данных, заботится о соблюдении
                конституционных прав граждан Российской Федерации и граждан других государств, Компания
                обеспечивает надежную защиту Данных.<br />
                2.3 Настоящая Политика применима только к Сайту Компании. Компания не контролирует и
                не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам,
                доступным на Сайте.<br />
                2.4 Компания в общем случае не проверяет достоверность персональной информации,
                предоставляемой Пользователями, и не осуществляет контроль за их дееспособностью. Однако
                Компания исходит из того, что Пользователь предоставляет достоверную и достаточную
                персональную информацию и поддерживает эту информацию в актуальном состоянии.<br />
                3.ОПРЕДЕЛЕНИЯ<br />
                3.1 Под Персональными данными понимается любая информация, относящаяся к прямо или
                косвенно определенному или определяемому физическому лицу (гражданину), а также юридическому
                лицу.<br />
                3.2 Под обработкой персональных данных понимается любое действие (операция) или
                совокупность действий (операций) с Данными, совершаемых с использованием средств автоматизации
                и/или без использования таких средств.<br />
                К таким действиям (операциям) относятся: сбор, запись, систематизация, накопление,
                хранение, уточнение (обновление, изменение), извлечение, использование передача (распространение,
                предоставление, доступ), обезличивание, блокирование, удаление, уничтожение Данных.<br />
                3.3 Под безопасностью Данных понимается защищенность Данных от неправомерного и/или
                несанкционированного доступа к ним, уничтожения, изменения, блокирования, копирования,
                предоставления, распространения Данных, а также от иных неправомерных действий в отношении
                Данных.<br />
                3.4 Под Компанией понимается юридическое лицо ООО «Синемабокс» (ИНН 1215232821).<br />
                3.5 Под Пользователем понимается лицо, использующее Сервисы Компании.<br />
                3.6 Абонентский номер (номер телефона) служит для обозначения и возможности<br />
                идентификации конечного оборудования абонента в сети связи при соединении с ним
                абонентских устройств.<br />
                3.7 Под адресом электронной почты понимается запись, установленная по RFC 5322,
                идентифицирующая почтовый ящик, в который следует доставить сообщение
                электронной почты.
                Номер телефона и/или адрес электронной почты без указания на его владельца не
                является информацией, на основании которой это лицо (субъект персональных данных)
                можно однозначно идентифицировать и его использование не может подразумевать
                обработку персональных данных его владельца. Если форма обратной связи не
                предполагает предоставление помимо номера телефона или электронного адреса
                дополнительных сведений, идентифицирующих пользователя, такая информация не
                относится к персональных данным.<br />
                4.ПРАВОВЫЕ ОСНОВАНИЯ И ЦЕЛИ ОБРАБОТКИ ДАННЫХ<br />
                4.1 Обработка и обеспечение безопасности Данных в Компании осуществляется в
                соответствии с требованиями Конституции Российской Федерации, Закона, подзаконных актов, других
                определяющих случаи и особенности обработки Данных федеральных законов Российской Федерации,
                руководящих и методических документов ФСТЭК России и ФСБ России.<br />
                4.2 Субъектами Данных в рамках данной Политики являются:
                - участники бонусных программ лояльности, в которые включаются клиенты
                – (потребители), являющиеся посетителями сайта, принадлежащего Компании:
                - пользователи - физические лица, заполняющие анкету регистрации с целью оформления
                заказа на Сайте.<br />
                4.3 В рамках настоящей Политики под информацией Пользователя понимаются:<br />
                4.3.1 Персональная информация, которую Пользователь предоставляет о себе самостоятельно
                при регистрации или в процессе использования Сервисов, включая персональные данные
                Пользователя. Обязательная для предоставления Сервисов информация помечена специальным
                образом. Иная информация предоставляется Пользователем на его усмотрение.<br />
                4.3.2 Данные, которые автоматически передаются Сайтом в процессе его
                использования с помощью установленного на устройстве Пользователя программного
                обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере
                пользователя (или иной программе, с помощью которой осуществляется доступ к Сайту),
                время доступа, адрес запрашиваемой страницы.<br />
            </p>
        </div>
    </div>
</div>

