@page "/user/{id}/booking"
@model cinema.Pages.UserBookingModel
@{
    ViewData["title"] = "Бронирования";
}
<div id="main" class="z-index--1">
    <div class="row center-margin mb-5">
        <div class="col-auto">
            @await Html.PartialAsync("_UserButtonsPartial", Model.UserViewModel)
        </div>

        <div class="col-10 mb-5">
            <div class="row">
                <div class="m-0 w-100 super-container h-96px">
                    <h2 class="text-center">Бронирования</h2>
                </div>
            </div>

            <div class="row mt-2">
                <div class="m-0 w-100 super-container">
                    <div class="list-group-flush list-group w-100 border-inherit">
                        @foreach (var booking in Model.UserViewModel.Bookings)
                        {
                            @await Html.PartialAsync("_BookingMovieItemPartial", booking)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>